VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_WEB3FORMS_KEY=your-web3forms-access-key
VITE_CONTADORES_SURVEY_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSeaiBYhag8RyIfKPR_80svwIHljgIxQY5OBT7LkxkBlRrWXfQ/viewform?usp=send_form
VITE_CONTADORES_SURVEY_EMBED_URL=https://docs.google.com/forms/d/e/1FAIpQLSeaiBYhag8RyIfKPR_80svwIHljgIxQY5OBT7LkxkBlRrWXfQ/viewform?embedded=true
